@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('image/background.png');
  background-size: cover;
}
.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: rgb(39, 39, 39);
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  height: 525px;
}
.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.wrapper p {
    color: #fff;
    font-weight: 100;
}
.wrapper .box .links-btn {
  height: 52px;
  margin: 18px 0;
}
.box .links-btn button {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  border: 1.5px solid rgb(170, 170, 170);
  background-color: transparent;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.box .links-btn button:hover {
    background-color: #fff;
    color: #000;
}

.imagenqin {
    height: 90px;
    width: 90px;
}

.bdiv {
    margin-top: 15px;
}

@media (max-width: 768px) {
    .wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
    .webfoot {
        position: absolute;
        left: -25px;
    }
}

.webfoot {
    position: absolute;
    bottom: 0;
    top: 550px;
    transform: translateX(33%);
    margin: auto;
    color: rgba(255, 255, 255, 0.5);;
}